<!DOCTYPE html>
<html>

<head>
    <title>Tink Songs: Admin</title>
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body ng-app='tinkApp' ng-controller='tinkAdmin' ng-cloak>
    <div id='admin' ng-if='verified'>
        <nav class="navbar is-fixed-top is-primary is-boxed" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <!-- navbar items, navbar burger... -->
                <span class='is-size-5'><i class='fa fa-music'></i></span>&nbsp;
                <a class='navbar-item is-primary' ng-click='scrollTo("add-panel")'>Add Song</a>
                <a class='navbar-item is-primary' ng-click='scrollTo("req-panel")'>Requests</a>
                <a class='navbar-item is-primary' ng-click='scrollTo("song-panel")'>Song List</a>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <div class='columns' id='add-panel'>
            <div class='column is-one-fifth'></div>
            <div class='column is-three-fifths'>
                <div class='panel'>
                    <div class='panel-heading is-size-3'>
                        Add Song
                    </div>
                    <div class='panel-block light-bg'>
                        <form class='control'>
                            <p class="control is-size-4">Title</p>
                            <div class="field">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="What it's called" ng-model='newSong.title'>
                                </p>
                            </div>
                            <br>
                            <p class="control is-size-4">Tabs</p>
                            <div class="field">
                                <span>The song tabs (leave blank if unsure!)</span>
                                <p class="control is-expanded">
                                    <textarea class="textarea" ng-model='newSong.tabs' rows='10'></textarea>
                                </p>
                            </div>
                            <br>
                            <p class="control is-size-4">Artist</p>
                            <div class="field">
                                <p class="control is-expanded is-actually-full">
                                    <input class="input" type='text' placeholder='Who wrote it' ng-model='newSong.artist' ng-change='getArtists(newSong.artist)'>
                                </p>
                                <div class='is-actually-full message sug' ng-repeat='sa in suggested.artist' ng-click='acceptSug(sa,"artist")'>{{sa}}</div>
                            </div>
                            <br>
                            <p class="control is-size-4">Album</p>
                            <div class="field">
                                <p class="control is-expanded is-actually-full">
                                    <input class="input" type='text' placeholder='The album/collection' ng-model='newSong.album' ng-change='getAlbums(newSong.album)'>
                                </p>
                                <div class='is-actually-full message sug' ng-repeat='sb in suggested.album' ng-click='acceptSug(sb,"album")'>{{sb}}</div>
                            </div>
                            <br>
                            <p class="control is-size-4">Genre</p>
                            <div class="field">
                                <p class="control is-expanded is-actually-full">
                                    <input class="input" type='text' placeholder='What kind of song it is' ng-model='newSong.genre' ng-change='getGenres(newSong.genre)'>
                                </p>
                                <div class='is-actually-full message sug' ng-repeat='ge in suggested.genre' ng-click='acceptSug(ge,"genre")'>{{ge}}</div>
                            </div>
                            <br>
                            <p class="control is-size-4">Add Tags</p>
                            <div class="field has-addons">
                                <p class="control is-expanded is-actually-full">
                                    <input class="input" type='text' placeholder='A descriptive word' ng-model='candTag' ng-change='getTags(candTag)'>
                                </p>
                                <p class="control">
                                    <button class="button is-success is-fullheight" ng-click='chTag(1,candTag)'>
                                        <i class='fa fa-tags'></i> Add a tag
                                    </button>
                                </p>
                            </div>
                            <div class='field'>
                                <div class='is-actually-full message sug' ng-repeat='tg in suggested.tags' ng-click='acceptSug(tg,"tags")'>{{tg}}</div>
                            </div>
                            <br>
                            <div ng-if='newSong.tags.length'>
                                <div class='is-size-4'>Tags</div>
                                <div ng-repeat='ns in newSong.tags' class='columns is-fullwidth'>
                                    <div class='column is-four-fifths'>{{ns}}</div>
                                    <div class='column is-pulled-right'>
                                        <button class='button is-danger is-small' ng-click='chTag(0,ns)'>x</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class='columns is-fullwidth'>
                                <div class='column is-one-third'>&nbsp;</div>
                                <button class='column is-one-third button is-success is-size-5' ng-click='doAddSong(newSong)'><i class='fa fa-check'></i> Add Song</button>
                            </div>
                            <div class='columns is-fullwidth'>
                                <div class='column is-one-third'>&nbsp;</div>
                                <button class='column is-one-third button is-default is-size-5' ng-click='clearSong()'><i class='fa fa-times'></i> Clear</button>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class='columns' id='req-panel'>
            <div class='column is-one-fifth'></div>
            <div class='column is-three-fifths light-bg'>
                <div class='is-size-3'>Requests</div>
                <table class='table is-actually-full'>
                    <thead>
                        <tr>
                            <th>Song</th>
                            <th>Artist</th>
                            <th>User</th>
                            <th>Time/Date</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='req in requests'>
                            <td>{{getSongId(req.songId).title}}</td>
                            <td>{{getSongId(req.songId).artist}}</td>
                            <td>{{req.name}}</td>
                            <td>{{renderDate(req.time)}}</td>
                            <td>
                                <button class='button is-danger' title='Remove request' ng-click='removeReq(req.id)'><i class='fa fa-trash'></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if='!requests.length'>
                        <tr>
                            <td colspan='5'>No requests yet!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class='columns' id='song-panel'>
            <div class='column is-one-fifth'></div>
            <div class='column is-three-fifths light-bg'>
                <div class='is-size-3'>Songs</div>
                <hr>
                <table class='table is-actually-full'>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Genre</th>
                            <th>Tags</th>
                            <th>Requests</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='sg in songs'>
                            <td>{{sg.title||'(none)'}}</td>
                            <td>{{sg.artist||'(none)'}}</td>
                            <td>{{sg.album||'(none)'}}</td>
                            <td>{{sg.genre||'(none)'}}</td>
                            <td>
                                <ul ng-if='sg.tags.length'>
                                    <li ng-repeat='t in sg.tags'><i class='fa fa-check'></i> {{t}}</li>
                                </ul>
                                <span ng-if='!sg.tags.length'>(none)</span>
                            </td>
                            <td>{{td.reqd||0}}</td>
                            <td>
                                <button class='button is-info' ng-click='showTabs(sg)'><i class='fa fa-search'></i> View</button>
                                <button class='button is-danger' ng-click='removeSong(sg.id)'><i class='fa fa-trash'></i> Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class='columns fixed-bit' ng-if='showingTabs' ng-click='hideTabs()'>
            <div class='column is-one-third'></div>
            <div class='column is-one-third'>
                <div class='message' ng-click='$event.stopPropagation()'>
                    <div class='is-size-4 message-header'>Tabs for song: {{cts.title}} <span class='button is-small is-danger' ng-click='hideTabs()'>x</span></div>
                    <div class='message-body'>
                        {{cts.tabs}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="./js/all.js"></script>
</body>

</html>